.cier {
    background-color: var(--color-sand);
    max-width: 100vw;
    height: 100vh;
    margin: var(--spacing-md);
    padding: var(--spacing-md);
    font-family: var(--font-family-secondary);
    color: var(--color-obsidian);
}

.cier__hero {
    height: 300px;
    background-color: var(--color-sand);
}

.cier__text {
    text-align: center;
    font-weight: var(--font-weight-regular);
}

.cier__text-title {
    text-align: center;
    font-weight: var(--font-weight-semibold);
}