body {
    background-color: var(--color-sand-light);
}

.u-section {
    background-color: var(--color-sand-light);
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--font-size-4xl) var(--font-size-5xl);
}