.main {
    background-color: var(--color-sand);
    max-width: 100vw; /* Largura máxima do seu conteúdo */
    margin: 0 auto;    /* Centraliza o container */
    font-family: var(--font-family-secondary);
    color: var(--color-obsidian);
}

.main__hero {
    height: 300px;
    background-color: var(--color-sand);
}

.main__text {
    text-align: center;
    font-weight: var(--font-weight-regular);
}

.main__text-title {
    font-weight: var(--font-weight-semibold);
}