@import url('variable.css');
@import url('font.css');

.page {
    max-width: 100vw;
    background-color: var(--color-sand);
}

.page__text {
    font-family: var(--font-family-secondary);
}

.page__text-title {
    font-family: var(--font-family-primary);
}