@import url('variable.css');
@import url('font.css');

body {
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-primary);
}

p, a, blockquote, pre, dl, dd, ol, ul, figure, figcaption, hr, fieldset, legend {
    font-family: var(--font-family-secondary);
}

/*
* {
    outline: 1px solid red;
}

* * {
    outline: 1px solid orange;
}

* * * {
    outline: 1px solid yellow;
}

* * * * {
    outline: 1px solid green;
}

* * * * * {
    outline: 1px solid blue;
}

* * * * * * {
    outline: 2px solid purple;
}

* * * * * * * {
    outline: 2px solid pink;
}

* * * * * * * * {
    outline: 3px solid cyan;
}

* * * * * * * * * {
    outline: 3px solid lime;
}

* * * * * * * * * * {
    outline: 4px solid brown;
}
*/
