@import url('variable.css');
@import url('font.css');

.page {
    max-width: 100vw;
    background-color: var(--color-sand);
    font-family: var(--font-family-secondary);
    font-family: var(--font-family-primary);
}