/* src/assets/css/variables.css */

:root {
    /* Cores */
    --color-sand: #F5F5DC;
    --color-obsidian: #1A1A1A;
    --color-moss: #556B2F;
    --color-terracotta: #E2725B;

    /* Tipografia */
    --font-family-primary: 'Griff';
    --font-family-secondary: 'Work Sans';

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-base: 1rem; /* 16px */
    --font-size-h1: 3rem;   /* 48px */
    --font-size-h2: 2.5rem; /* 40px */
    --font-size-h3: 2rem;   /* 32px */

    /* Espaçamentos */
    --spacing-xs: 0.5rem; /* 8px */
    --spacing-sm: 1rem;   /* 16px */
    --spacing-md: 1.5rem; /* 24px */
    --spacing-lg: 2rem;   /* 32px */
    --spacing-xl: 3rem;   /* 48px */

    /* Outros */
    --border-radius-sm: 4px;
    --box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1);
}
